<?xml version="1.0"?>
<!--This is a copy of the Web.config file with dummy values since the actual values are not in source control
This file needs to be renamed as App.config when deployed or in development, the actual App.config file should never be committed to source control-->

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="1073741824"  />
    <sessionState timeout="60"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Ballots Handler" path="*.ashx" verb="*" type="Ballots.FileHandler" resourceType="File" preCondition="integratedMode"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="ballot-tracker.aspx"/>
      </files>
    </defaultDocument>
      <security>
          <requestFiltering>
              <requestLimits maxAllowedContentLength="1073741824" />
          </requestFiltering>
      </security>
  </system.webServer>
  <appSettings>
    <add key="smtpserver" value="dummyserver"/>
    <add key="emailFrom" value="dummy@example.com"/>
    <add key="emailTo" value="dummy@example.com"/>
    <add key="emailBallotRejected" value="dummy@example.com"/>
    <add key="RemotePath" value="dummypath"/>
    <add key="LocalPath" value="dummypath"/>
    <add key="TempFolder" value="dummyfolder"/>
    <add key="BallotExtractFolder" value="dummyfolder"/>
    <add key="MailBallotFolder" value="dummyfolder"/>
    <add key="BallotFileName" value="dummyFile"/>
    <add key="MailBallotFileName" value="dummyFile"/>
    <add key="BallotSite" value="dummySite"/>
    <add key="FtpSite" value="dummySite"/>
    <add key="BallotsConnectionString" value="Server=dummyserver; Database=dummydatabase; User Id=dummyuser;Password=dummypassword"/>
    <add key="LogLevel" value="DEBUG"/>
    <!--Supported values are DEBUG, ERROR. Any other value will turn off logging-->
  </appSettings>
</configuration>